@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

.auth-container {
  height: 101vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, #000000, #141414, #610C9F);
  position: relative;
  overflow: hidden;
}

.auth-img img {
  height: 540px;
  width: auto;
}

@keyframes blurEffect {
  0% {
    filter: blur(3px);
    opacity: 0.6;
  }
  100% {
    filter: blur(0px);
    z-index: 1;
  }
}
.form-wrapper {
  width: auto;
  height: auto;
  background: rgb(239, 238, 237);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  margin: auto auto;
}

.form-wrapper h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.form-wrapper .icon {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.form-wrapper p {
  font-size: 17px;
  margin-bottom: 20px;
}

.form-wrapper .submit-btn {
  height: 42px;
  width: 160px;
  text-align: center;
  margin: 10px auto;
}

.form-wrapper .submit-btn p {
  text-align: center;
  margin: 0;
}

.form-wrapper .forget-pass {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.form-wrapper .forget-pass p:hover {
  text-decoration: underline;
  color: black;
}

.brand-name {
  position: fixed;
  top: 4%;
  left: 6%;
  color: #F5F5F5;
  z-index: 10;
}

.brand-name a {
  color: wheat;
  text-decoration: none;
  font-size: 1.5rem;
}

.input-group {
  margin: 16px 0;
}

.input-group input {
  width: 270px;
  padding: 11px;
  border: 2px solid transparent;
  border-radius: 12px;
  background: linear-gradient(white, white),
              linear-gradient(to right, #610C9F, #FFB703);
  background-clip: padding-box, border-box;
}

.submit-btn {
  background: #F11A7B;
  color: white;
  padding: auto 30px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 6px;
  outline: none;
  border: 1.5px solid transparent;
  text-align: center;
}

.submit-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, transparent, rgba(255,255,255,0.3), transparent);
  transition: left 0.7s;
}

.submit-btn:hover::after {
  left: 100%;
}

@keyframes sideEntry {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1222px) {
  .auth-img {
    display: none;
  }
  .auth-box {
    margin: auto auto;
  }
}
