.dash-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f8f9fa;
  padding-top: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  color: #000;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
  padding: 20px;
  color: #000;
}

.chart-box {
  flex: 1;
  display: flex;
  min-width: 350px;
  max-width: 500px;
  text-align: center;
  flex-direction: column-reverse;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.total-box {
  margin: 20px;
}
.total-box h4,
p {
  font-size: 21px;
  text-align: left;
  margin: 10px;
}
.more-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 40px auto;
  align-items: center;
}
.more-wrapper .addPro input {
  height: 14px;
  width: 220px;
  padding: 10px;
  outline: none;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  text-align: start;
}
.addPro form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.more-wrapper .addPro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
  background-color: whitesmoke;
  align-items: center;
  height: 400px;
  cursor: pointer;
  justify-content: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.submit-btn {
  height: 36px;
  width: 150px;
  border: 2px solid blueviolet;
  border-radius: 14px;
  color: black;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.submit-btn:hover{
  border-color: rgba(137, 43, 226, 0.677);
}


.more-info-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background:linear-gradient(15deg, #181818, rgba(0, 0, 0, 0.668));
  height: 200px;
  width: 400px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
}
.more-info-box .total-box{
  height: 70px;
  width: 150px;
  border: 1px solid black;
  border-radius: 14px;
  display: flex;
  background-color: #ccc;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.total-box h1{
  font-size: 14px;
  font-weight: 500;
  color: #0F0F0F;
}